@font-face {
  font-family: "UniNeue";
  font-display: swap;
  src: url("../fonts/UniNeueBlack.woff") format("woff"), url("../fonts/UniNeueBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "UniNeueBook";
  font-display: swap;
  src: url("../fonts/UniNeueBook.woff") format("woff"), url("../fonts/UniNeueBook.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "UniNeue";
  font-display: swap;
  src: url("../fonts/UniNeueBold.woff") format("woff"), url("../fonts/UniNeueBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "UniNeue";
  font-display: swap;
  src: url("../fonts/UniNeueHeavy.woff") format("woff"), url("../fonts/UniNeueHeavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "UniNeue";
  font-display: swap;
  src: url("../fonts/UniNeueRegular.woff") format("woff"), url("../fonts/UniNeueRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "UniNeue";
  font-display: swap;
  src: url("../fonts/UniNeueLight.woff") format("woff"), url("../fonts/UniNeueLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "UniNeue";
  font-display: swap;
  src: url("../fonts/UniNeueThin.woff") format("woff"), url("../fonts/UniNeueThin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  font-family: "icons";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  display: block;
}

._icon-arrow-up:before {
  content: "\e900";
  color: #e04504;
}

html {
  font-size: 1vw;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  line-height: 1.2;
  overflow-x: hidden;
  color: #282828;
  font-family: "UniNeue", sans-serif;
  background-color: #fff;
}

body._lock,
body._lock-scroll {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 81vw;
  margin: 0 auto;
  width: 100%;
}

.nameclass.active li:nth-child(1) {
  -webkit-transition: -webkit-transform 0.4s ease 0s;
  transition: -webkit-transform 0.4s ease 0s;
  -o-transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
}

.nameclass.active li:nth-child(2) {
  -webkit-transition: -webkit-transform 0.4s ease 0.4s;
  transition: -webkit-transform 0.4s ease 0.4s;
  -o-transition: transform 0.4s ease 0.4s;
  transition: transform 0.4s ease 0.4s;
  transition: transform 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
}

.nameclass.active li:nth-child(3) {
  -webkit-transition: -webkit-transform 0.4s ease 0.6s;
  transition: -webkit-transform 0.4s ease 0.6s;
  -o-transition: transform 0.4s ease 0.6s;
  transition: transform 0.4s ease 0.6s;
  transition: transform 0.4s ease 0.6s, -webkit-transform 0.4s ease 0.6s;
}

.nameclass.active li:nth-child(4) {
  -webkit-transition: -webkit-transform 0.4s ease 0.8s;
  transition: -webkit-transform 0.4s ease 0.8s;
  -o-transition: transform 0.4s ease 0.8s;
  transition: transform 0.4s ease 0.8s;
  transition: transform 0.4s ease 0.8s, -webkit-transform 0.4s ease 0.8s;
}

.btn_wrap-effects {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-85px);
      -ms-transform: translateX(-85px);
          transform: translateX(-85px);
  -webkit-animation-name: flash-md;
          animation-name: flash-md;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes flash-md {
  30% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes flash-md {
  30% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.btn_effects {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.4)));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  width: 45px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 30px;
  -webkit-transform: skewX(-45deg);
      -ms-transform: skewX(-45deg);
          transform: skewX(-45deg);
}

.modal-anim {
  opacity: 1;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: slide-up-in;
          animation-name: slide-up-in;
}

.title-anim {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: slide-up-in;
          animation-name: slide-up-in;
}

@-webkit-keyframes slide-up-in {
  0% {
    -webkit-transform: translate(0, 100%) rotate(1deg);
            transform: translate(0, 100%) rotate(1deg);
    opacity: 0;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
}

.name-anim {
  opacity: 1;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: slide-up-in;
          animation-name: slide-up-in;
}

.btn {
  padding: 1.4vw 1.6vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  border: none;
  white-space: nowrap;
  color: #010213;
  border-radius: 5px;
  background-color: #f0242d;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

._btn-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

._visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.bold {
  font-weight: 700;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.rub::after {
  content: "";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  content: counter(item);
  counter-increment: item;
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid black;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  position: relative;
  z-index: 4;
}

.header__top {
  padding: 0.9vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  color: #fff;
  background-color: #313d4b;
  font-size: 0.83vw;
  font-weight: 700;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__link {
  width: 10vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 1.5vw;
}

.logo__text {
  font-size: 0.94vw;
  width: 13vw;
  line-height: 1.5;
}

.logo__text span {
  font-weight: 700;
}

.adress__box {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adress__image {
  width: 6vw;
  height: auto;
}

.adress__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.83vw;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.adress__btn {
  font-size: 0.73vw;
  text-decoration: underline;
  color: #fe5b52;
}

.lang {
  font-size: 0.83vw;
}

.lang__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 0.41rem;
}

.lang__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lang__item {
  display: inline-block;
  margin: 0 0.3rem;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #282828;
}

.lang__item_active {
  font-weight: 700;
  color: #fe5b52;
}

.call__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.4rem;
}

.call__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1vw;
  height: 1vw;
  margin-right: 0.3vw;
}

.call__link {
  color: #252525;
  font-weight: 900;
  font-size: 1.1vw;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  white-space: nowrap;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__link {
  width: 2.3vw;
  height: 2.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.socials__link:not(:last-child) {
  margin-right: 0.5vw;
}

.burger {
  display: none;
}

.burger-line,
.burger::before,
.burger::after {
  content: "";
  background: #000;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.burger-line {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger._active .burger-line {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
}

.burger._active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}

.burger._active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}

.nav {
  padding: 0.9vw 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__link {
  color: #000;
  display: inline-block;
  padding: 0.5vw 1vw;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  text-transform: uppercase;
  font-size: 0.83vw;
}

.hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__container {
  padding-top: 3vw;
  padding-bottom: 6vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__title {
  font-family: "UniNeueBook", serif;
  font-size: 3.1vw;
  width: 44vw;
  line-height: 1;
  font-weight: 100;
  margin-bottom: 4.5vw;
}

.hero__title span {
  font-weight: 900;
}

.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 48vw;
}

.hero__row-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 39%;
          flex: 0 0 39%;
}

.hero__row-right {
  width: 39%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__row-text {
  margin-bottom: 1.4vw;
  font-size: 0.94vw;
  line-height: 1.5;
}

.hero__row-text span {
  display: inline-block;
  -webkit-box-shadow: 0 0 40px rgba(20, 21, 26, 0.1);
          box-shadow: 0 0 40px rgba(20, 21, 26, 0.1);
  border-radius: 5px;
  background-color: #fff;
  padding: 0.2rem 0.5rem;
  font-weight: 700;
}

.hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 21vw;
          flex: 0 1 21vw;
  text-align: left;
  padding-left: 2.8vw;
  padding-right: 2.8vw;
  color: #fff;
  font-size: 0.83vw;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fe504f), to(#fe744f));
  background-image: -o-linear-gradient(bottom, #fe504f 0, #fe744f 100%);
  background-image: linear-gradient(to top, #fe504f 0, #fe744f 100%);
  -webkit-box-shadow: 0 9px 49px rgba(232, 68, 68, 0.1), inset 0 -4px 1px #e84444;
          box-shadow: 0 9px 49px rgba(232, 68, 68, 0.1), inset 0 -4px 1px #e84444;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.hero__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 2vw;
  height: auto;
  margin-right: 3vw;
}

.hero__row-documentation {
  text-align: center;
  margin-bottom: 0.7vw;
  font-size: 0.83vw;
  font-weight: 700;
}

.hero-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  margin-bottom: 3.3vw;
}

.hero-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-right: 3vw;
  margin-left: 1.5vw;
}

.hero-list > li::before {
  content: "";
  position: absolute;
  width: 1.5vw;
  height: 0.3vw;
  left: 0;
  top: 0;
  -webkit-transform: translate(-100%, -100%) rotate(-45deg);
      -ms-transform: translate(-100%, -100%) rotate(-45deg);
          transform: translate(-100%, -100%) rotate(-45deg);
  background-color: #fe5851;
}

.hero-list > li:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}

.hero-list > li:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 26%;
          flex: 1 1 26%;
}

.hero-list > li:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.hero-list > li:last-child {
  margin-right: 0;
}

.hero-list__number {
  font-weight: 900;
  font-size: 3.9vw;
  line-height: 0.8;
  display: inline-block;
  margin-right: 0.5rem;
}

.hero-list__text {
  font-size: 1.04vw;
}

.hero-list__text span {
  font-weight: 900;
}

.hero-slider {
  margin: -0.3vw;
}

.hero-slider__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.3vw;
}

.hero-slider__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fancybox-image {
  border-radius: 10px;
}

.hero-man {
  position: absolute;
  bottom: 0;
  right: 0vw;
}

.hero-man__img {
  width: 32vw;
}

.hero-man__text {
  width: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 1vw;
  top: 5vw;
}

.hero-man__name {
  font-weight: 700;
  font-size: 1.2vw;
}

.hero-man__position {
  font-size: 0.83vw;
  margin-bottom: 0.4vw;
}

.hero-man__work-experience {
  font-size: 0.73vw;
}

.hero-man__button {
  display: none;
}

.hero-man__button .hero__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
}

.slideNext,
.slidePrev {
  background: transparent;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.slidePrev {
  left: -15px;
}

.slideNext {
  right: -15px;
}

.fade__block {
  width: 100%;
  height: 100vh;
  background: rgba(54, 54, 54, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  color: #000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.show {
  opacity: 1;
  visibility: visible;
}

.modal__window {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal__inner {
  width: 48vw;
  position: relative;
  overflow: hidden;
  border-radius: 2vw;
  padding: 3vw;
  z-index: 31;
  background-image: url("/assets/images/bg1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__title {
  font-size: 1.25vw;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1.4vw;
}

.modal__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

.modal__right {
  position: absolute;
  right: 3vw;
  bottom: 0rem;
  width: 21vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.modal-man__text {
  text-align: right;
  width: 7vw;
  position: absolute;
  top: 10%;
  left: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-man__name {
  font-weight: 700;
  font-size: 1.04vw;
}

.modal-man__position {
  font-size: 0.68vw;
  margin-bottom: 0.4vw;
}

.modal-man__work-experience {
  font-size: 0.63vw;
}

.modal__close {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 1.4vw;
  height: 1.4vw;
  z-index: 80;
  -webkit-transform: translate(-150%, 150%) rotate(45deg);
      -ms-transform: translate(-150%, 150%) rotate(45deg);
          transform: translate(-150%, 150%) rotate(45deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__close::after {
  content: "";
  display: block;
  height: 100%;
  width: 0.1vw;
  background-color: #282828;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  border-radius: 3px;
}

.modal__close-line {
  width: 100%;
  height: 0.1vw;
  background-color: #282828;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  border-radius: 3px;
}

.form-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-modal__title {
  font-size: 0.83vw;
  text-align: center;
  margin-bottom: 0.7vw;
}

.form-modal__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 0.7vw;
}

.form-modal__socials-list .form-modal__input {
  display: none;
}

.form-modal__socials-item label {
  position: relative;
  padding: 0.5vw 0.9vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 100%;
}

.form-modal__socials-item span {
  white-space: nowrap;
  font-size: 0.68vw;
  text-align: center;
  font-weight: 700;
}

.form-modal__icon {
  width: 2.5vw;
  max-width: none;
}

.form-modal__input {
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  padding: 1.4vw 2vw;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  position: relative;
  color: #131313;
  font-size: 0.94vw;
}

.form-modal__input:checked + label {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 7px 27px rgba(40, 40, 40, 0.1);
          box-shadow: 0 7px 27px rgba(40, 40, 40, 0.1);
  border-radius: 1vw;
  background-color: #fff;
}

.form-modal__group_phone {
  margin-bottom: 0.7vw;
}

.form-modal__group_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.4vw;
}

.form-modal__btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 21vw;
          flex: 1 1 21vw;
  text-align: left;
  padding-left: 2.8vw;
  padding-right: 2.8vw;
  color: #fff;
  font-size: 0.83vw;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fe504f), to(#fe744f));
  background-image: -o-linear-gradient(bottom, #fe504f 0, #fe744f 100%);
  background-image: linear-gradient(to top, #fe504f 0, #fe744f 100%);
  -webkit-box-shadow: 0 9px 49px rgba(232, 68, 68, 0.1), inset 0 -4px 1px #e84444;
          box-shadow: 0 9px 49px rgba(232, 68, 68, 0.1), inset 0 -4px 1px #e84444;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.form-politics {
  font-size: 0.63vw;
  text-align: center;
}

.form-politics__link {
  color: #fe5b52;
  text-decoration: underline;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 768px) {
  .nav__link:hover {
    color: #1587d7;
  }
}

@media (min-width: 992px) {
  .header__btn:hover {
    -webkit-box-shadow: 0 9px 19px rgba(49, 61, 75, 0.3), inset 0 4px 1px #596f89;
            box-shadow: 0 9px 19px rgba(49, 61, 75, 0.3), inset 0 4px 1px #596f89;
  }

  .adress__box:hover .adress__text {
    color: #fe5b52;
  }

  .lang__item:hover {
    color: #fe5b52;
  }

  .call__link:hover {
    color: #6b97fb;
  }

  .socials__link:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .hero__btn:hover {
    -webkit-box-shadow: 0 19px 49px rgba(232, 68, 68, 0.6), inset 0 4px 1px #e84444;
            box-shadow: 0 19px 49px rgba(232, 68, 68, 0.6), inset 0 4px 1px #e84444;
  }

  .modal__close:hover {
    -webkit-transform: translate(-150%, 150%) rotate(90deg);
        -ms-transform: translate(-150%, 150%) rotate(90deg);
            transform: translate(-150%, 150%) rotate(90deg);
  }

  .form-modal__btn:hover {
    -webkit-box-shadow: 0 19px 49px rgba(232, 68, 68, 0.6), inset 0 4px 1px #e84444;
            box-shadow: 0 19px 49px rgba(232, 68, 68, 0.6), inset 0 4px 1px #e84444;
  }
}

@media (max-width: 992px) {
  ._container {
    max-width: 90vw;
  }

  .header__top {
    padding: 10px 0;
  }

  .header__btn {
    font-size: 9px;
  }

  .logo__link {
    width: 90px;
  }

  .logo__text {
    font-size: 8px;
    width: 110px;
    line-height: 1.3;
  }

  .adress__image {
    width: 50px;
  }

  .adress__text {
    font-size: 9px;
  }

  .adress__btn {
    font-size: 9px;
  }

  .lang {
    font-size: 9px;
  }

  .call__img {
    width: 12px;
    height: 12px;
  }

  .call__link {
    font-size: 10px;
  }

  .socials__link {
    width: 24px;
    height: 24px;
  }

  .nav__link {
    font-size: 9px;
  }

  .hero__row {
    max-width: 420px;
  }

  .hero__row-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 201px;
            flex: 0 1 201px;
  }

  .hero__row-text {
    font-size: 9px;
    margin-bottom: 10px;
  }

  .hero__btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
    font-size: 8px;
  }

  .hero__icon {
    margin-right: 10px;
    width: 15px;
  }

  .hero__row-documentation {
    font-size: 8px;
  }

  .hero-list {
    width: 450px;
  }

  .hero-list > li {
    margin-right: 10px;
    margin-left: 10px;
  }

  .hero-list__text {
    font-size: 10px;
  }

  .hero-man__text {
    width: 80px;
    right: 0;
  }

  .hero-man__name {
    font-size: 10px;
  }

  .hero-man__position {
    font-size: 9px;
  }

  .hero-man__work-experience {
    font-size: 9px;
  }
}

@media (max-width: 768px) {
  .nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #fff;
    z-index: 644;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateX(-110%);
        -ms-transform: translateX(-110%);
            transform: translateX(-110%);
    -webkit-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }

  .nav._active {
    -webkit-transform: translate(-20%, 0%);
        -ms-transform: translate(-20%, 0%);
            transform: translate(-20%, 0%);
  }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.5rem;
    -webkit-box-shadow: 0 0 0 #000;
            box-shadow: 0 0 0 #000;
  }

  .nav__link {
    display: block;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: 95vw;
  }

  .header__btn {
    font-size: 11px;
    padding: 10px 12px;
  }

  .logo__link {
    margin-right: 0;
  }

  .logo__text {
    display: none;
  }

  .adress {
    display: none;
  }

  .lang {
    display: none;
  }

  .lang__text {
    display: block;
  }

  .call__link {
    font-size: 12px;
  }

  .socials__link {
    width: 26px;
    height: 26px;
  }

  .nav__link {
    font-size: 14px;
    font-weight: 500;
    padding: 0.5rem 1rem;
  }

  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
  }

  .hero__title {
    font-size: 20px;
    width: 80vw;
  }

  .hero__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
  }

  .hero__row-left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .hero__row-right {
    width: 90%;
    margin-bottom: 10px;
  }

  .hero__row-text {
    text-align: center;
    font-size: 12px;
  }

  .hero__button {
    display: none;
  }

  .hero__row-documentation {
    font-size: 11px;
    margin-bottom: 10px;
  }

  .hero-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .hero-list > li {
    margin-left: 10px;
    margin-right: 0;
  }

  .hero-list > li:not(:last-child) {
    margin-bottom: 10px;
  }

  .hero-list > li::before {
    width: 13px;
    height: 3px;
  }

  .hero-list__number {
    margin-right: 5px;
  }

  .hero-list__number {
    font-size: 30px;
  }

  .hero-slider {
    margin: -5px;
  }

  .hero-slider__item {
    padding: 5px;
  }

  .hero-man {
    position: static;
  }

  .hero-man__image {
    text-align: center;
  }

  .hero-man__img {
    width: auto;
    max-width: 300px;
  }

  .hero-man__text {
    display: none;
  }

  .hero-man__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .modal__inner {
    width: 90vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 15px 0;
  }

  .modal__title {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .modal__right {
    position: static;
    width: auto;
    max-width: 200px;
    margin: 0 auto;
  }

  .modal-man__text {
    width: auto;
    max-width: 100px;
    top: auto;
    bottom: 200px;
  }

  .modal-man__name {
    font-size: 12px;
  }

  .modal-man__position {
    font-size: 10px;
  }

  .modal-man__work-experience {
    font-size: 9px;
  }

  .modal__close {
    width: 25px;
    height: 25px;
    -webkit-transform: translate(-23%, 44%) rotate(45deg);
        -ms-transform: translate(-23%, 44%) rotate(45deg);
            transform: translate(-23%, 44%) rotate(45deg);
  }

  .form-modal__title {
    font-size: 13px;
    margin-bottom: 8px;
  }

  .form-modal__socials-list {
    margin-bottom: 10px;
  }

  .form-modal__socials-item label {
    padding: 10px;
  }

  .form-modal__socials-item span {
    font-size: 11px;
  }

  .form-modal__icon {
    width: 40px;
    margin-bottom: 4px;
  }

  .form-modal__input {
    font-size: 14px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .form-modal__input:checked + label {
    border-radius: 10px;
  }

  .form-modal__btn {
    font-size: 14px;
    padding: 10px;
  }

  .form-politics {
    font-size: 12px;
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: 479.98px) {
  .header__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -5px;
  }

  .header__logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .header__lang {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .header__button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .header__call {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .header__burger {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .lang {
    display: block;
    text-align: center;
    font-size: 11px;
  }

  .call__phone {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .call__link {
    font-size: 14px;
  }

  .socials {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .socials__link {
    width: 30px;
  }

  .socials__link:not(:last-child) {
    margin-right: 5px;
  }

  .hero__title {
    width: 100%;
  }

  .header-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33%;
            flex: 1 1 33%;
    padding: 5px;
  }

  .hero-list__text {
    font-size: 11px;
  }
}
@supports (-webkit-appearance:none){
.modal__inner{background-image:url("/assets/images/bg1.webp")}
}

 @media (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 479.98px){

@supports (-webkit-appearance:none){

}

}
